.admin-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .header {
    background-color: #f0f0f0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .main {
    flex: 1 1 auto;
    display: flex;
  }
  
  .sidebar {
    background-color: #eee;
    padding: 1rem;
    border-right: 1px solid #ddd;
    display: none;
  }
  
  .content {
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .admin-container.show-sidebar .sidebar {
    display: block;
  }
  
  p-button.menuToggler {
    margin-bottom: 1rem;
  }
  
  p-sidebar {
    background-color: #eee;
  }
  
  p-sidebar h5 {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  p-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  p-sidebar li a {
    display: block;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
  }
  
  p-sidebar li a:hover {
    background-color: #ddd;
  }
  
//   p-menubar{
    
//   }
  /* Router-outlet content styling goes here */
  
  /* Responsive design adaptations with media queries can be added here */
  