<!-- <p-panel header="Parts List">
  <div class="p-grid">
    <div *ngFor="let part of parts" class="p-col-12 p-md-4">
      <p-card>
        <img src="{{ part.images }}" alt="{{ part.name }}" class="card-image" />
        <div class="card-content">
          <div class="card-header">
            <h3 class="card-title">{{ part.name }}</h3>
            <span class="card-badge">{{ part.quantity }}</span>
          </div>
          <p class="card-description">{{ part.description }}</p>
        </div>
        <div class="card-footer">
          <button
            pButton
            type="button"
            icon="pi pi-info"
            (click)="viewDetails(part.id)"
          >
            View Details
          </button>
        </div>
      </p-card>
    </div>
  </div>
</p-panel> -->


<ul>
  <li *ngFor="let part of parts">
      <a routerLink="/food/{{part.id}}">
          <img src="{{part.images}}" alt="">
          <div class="content">
              <div class="name">
                  {{part.name}}
              </div>
              <span class="favorite {{part.state?'':'not'}}">
                  coeur
              </span>
              <div class="product-item-footer">
                  <div class="origins">
                      <span>
                          {{part.description}}
                      </span>
                  </div>
                  <div class="cook-time">
                      <span>
                          <img src="../../assets/clock.png" alt="">
                      </span>
                      {{part.quantity}}
                  </div>
              </div>       
              <div class="price">
                  <span>
                      {{part.price|currency}}
                  </span>
              </div>     
          </div>
      </a>
  </li>
</ul>
