<p-table [value]="users">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Enterprise</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr (click)="navigate(user.id)" >
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.entreprise }}</td>

      <td>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          (click)="editUser(user.id)"
        >ed</button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          (click)="deleteUser(user.id)"
        >del</button>
      </td>
    </tr>
  </ng-template>
</p-table>
