<div *ngIf="part">
    <h2>{{ part.name }}</h2>
    <p>Part Number: {{ part.reference }}</p>
    <p>Price: {{ part.price | currency }}</p>
    <p>Category: {{ part.state }}</p>
    <p>{{ part.description }}</p>
  
    <div class="image-gallery">
      <!-- <img *ngFor="let image of part.images" [src]="image.url" alt="Part Image"> -->
    </div>
  
    <div class="reviews">
      <h3>Reviews</h3>
      </div>
  
    <button (click)="addToCart()">Add to Cart</button>
  </div>
  
  <div *ngIf="!part">Loading...</div>
  