<div class="containerr">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p-panel header="Login">
      <div class="container">
        <div class="info">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-envelope"></i>
            </span>
            <!-- Use a regular input element for the email -->
            <input
              type="email"
              formControlName="email"
              pInputText
              placeholder="Email"
            />
          </div>
        </div>

        <div class="info">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <input
              type="password"
              pPassword
              formControlName="password"
              placeholder="Password"
            />
          </div>
        </div>

        <div class="sub">
          <!-- <p-button type="submit" label="Login" icon="pi pi-sign-in"></p-button> -->
          <button
          pButton
          type="submit"
          label="Login"
          [disabled]="loginForm.invalid"
        ></button>
        </div>
      </div>
    </p-panel>
  </form>
</div>
