<p-card header="User Details">
    <div class="user-info">
      <!-- <p-avatar shape="circle" image="{{userDetails.imageUrl}}"></p-avatar> -->
      <p-avatar shape="circle" ></p-avatar>

      <div class="details">
        <h4>{{userDetails.name}}</h4>
        <p>Email: {{userDetails.email}}</p>
        <p>Phone: {{userDetails.phone}}</p>
        <p>Address: {{userDetails.address}}</p>
        <p>Enterprise: {{userDetails.enterpriseName}}</p>
      </div>
    </div>
  
    <p-tabView>
      <p-tabPanel header="Orders">
        </p-tabPanel>
      </p-tabView>
  
    <p-button *ngIf="isAdmin" label="Edit User" (click)="editUser()"></p-button>
  </p-card>
  